:root {
    --sidebar-colour: rgba(0, 120, 147, 1);
    --sidebar-colour-hover: rgb(1, 131, 160);
    --sidebar-colour-active: rgb(2, 111, 135);
}

@font-face {
    font-family: "logofont";
    src: url(../fonts/logofont.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    color: rgb(247, 249, 249);
    background-color: hsl(210, 34%, 12%);
    scrollbar-color: var(--sidebar-colour) rgba(0, 0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
    cursor: pointer;
    text-decoration: unset;
    color: rgb(247, 249, 249);
}

.contentArea {
    width: 90%;
    gap: 100px;
    display: flex;
    margin: 0px auto;
    max-width: 1400px;
    flex-direction: column;
}

.topSpacer,
.bottomSpacer {
    height: 0px;
}

.logoContainer {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'logofont';
    justify-content: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 90px;
}

.slogan {
    display: flex;
    margin-top: -12px;
    font-size: 25.5px;
    margin-right: 5px;
    justify-content: end;
}

.installContainer {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.featureContainer,
.browserContainer,
.socialContainer {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.browserIcon {
    height: auto;
    min-width: 64px;
    max-width: 75px;
}

.browserIcon:hover {
    cursor: pointer;
}

.socialIcon {
    gap: 20px;
    height: auto;
    max-width: 65px;
}

/* .socialIcon:hover {
    background-color: hsl(210, 34%, 20%);
} */

p {
    margin: 5px;
    font-size: 20px;
}

.infoPanel, .screenshotPanel {
    flex: 1;
    gap: 20px;
    width: 50%;
    display: flex;
    min-width: 195px;
    flex-direction: column;
}

.infoText {
    font-size: 30px;
}

h1,
h2,
h3 {
    margin-top: unset;
    font-weight: unset;
    margin-bottom: unset;
}

.installButton {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 25px;
    font-weight: bold;
    width: fit-content;
    border-radius: 15px;
    align-items: center;
    height: fit-content;
    justify-content: center;
    background-color: rgba(0, 120, 147, 1);
    transition: background-color 0.3s ease-out 0s;
}

.installButton:hover {
    background-color: var(--sidebar-colour-hover);
}

.installButton:active {
    background-color: var(--sidebar-colour-active);
}

.otherBrowsersLink {
    cursor: pointer;
    width: fit-content;
    font-weight: lighter;
}

.otherBrowsersLink:hover {
    text-decoration: underline;
}

.screenshot {
    width: 100%;
    border-radius: 15px;
}

.feature {
    gap: 20px;
    flex: 1 1 0px;
    padding: 20px;
    min-width: 195px;
    border-radius: 15px;
    box-sizing: border-box;
    width: calc(33.3333% - 20px);
    border: 1px solid rgba(0, 120, 147, 1);
}

.centeredIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.featureTitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

body::-webkit-scrollbar {
    width: 7px;
    /* Width of vertical scrollbar */
    height: 7px;
    /* Height of horizontal scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
    /* Track color */
    background: rgba(0, 0, 0, 0);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    /* Handle color */
    border-radius: 5px;
    background: var(--sidebar-colour);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    /* Handle color on hover */
    background: var(--sidebar-colour-hover);
}

@media screen and (max-width: 768px) {
    .contentArea {
        gap: 50px;
    }

    .logo {
        font-size: calc(100% + 11.5vw);
    }
    
    .textContainer {
        margin-top: -10px;
    }

    .slogan {
        font-size: calc(100% + 0.4vw);
    }

    .infoText {
        font-size: calc(100% + 1.5vw);
    }

    .browserIcon {
        max-width: 64px;
    }
}
